.track-display,
.album-display,
.artist-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.album-detail,
.track-detail{
  margin-left: 2%;
  width: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
}

.artist-detail {
  margin-left: 2%;
  width: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  color: #212529;
  font-weight: bold;
}

#artists-title {
  font-size: small;
}
