<div class="container-fluid" *ngIf="data">
  <!-- Track's Display -->
  <div *ngIf="data.type === 'track'" class="track-display mb-3 mt-3">
    <img [src]="data.album.images[0].url" [alt]="data.name" class="w-25"/>

    <div class="track-detail">
      <h3>{{ data.name }}</h3>
      <table class="mb-2">
        <tbody>
          <tr>
            <td style="padding-right: 5em;">Duration:</td>
            <td>{{ data.duration }} minutes</td>
          </tr>
          <tr>
            <td>Artists:</td>
            <td>
              <div
                [innerHTML] = 'artists'
              >
              </div>
            </td>
          </tr>
          <tr>
            <td>Album:</td>
            <td><a [href]="data.album.external_urls.spotify">{{ data.album.name }}</a></td>
          </tr>
          <tr>
            <td>Date:</td>
            <td>{{ releaseDate }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <a
          [href]="data.trackURL"
          type="button"
          class="btn btn-primary mr-2"
          target="blank"
          >Visit Track</a
        >
        <a
          [href]="data.album.external_urls.spotify"
          type="button"
          class="btn btn-primary mr-2"
          target="blank"
          >Visit Album</a
        >
      </div>
    </div>
  </div>

  <!-- Album's Display -->
  <div *ngIf="data.type === 'album'" class="album-display mb-3 mt-3">
    <img [src]="data.albumImg" [alt]="data.name" class="w-25 h-25"/>
    <div class="album-detail">
      <h3>{{data.name}}</h3>
      <p>
        {{data.name}} was released on {{releaseDate}}. This album is a collaboration between
        <span [innerHTML]='artists'></span>
        with {{data.num_tracks}} tracks made available for listener. We hope you enjoy!
      </p>

      <table class="mb-2 table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks; let i = index">
            <th>{{i + 1}}</th>
            <th>
              <a [href]="track.trackURL" target="blank"> {{track.name}}</a>
              <div id="artists-title" [innerHTML]="track.artists"></div>
            </th>
            <th>{{track.duration}}</th>
          </tr>
        </tbody>
      </table>

      <div>
        <a
          [href]="data.albumURL"
          type="button"
          class="btn btn-primary mr-2"
          target="blank"
          >Visit Album</a
        >
      </div>
    </div>
  </div>

  <!-- Artist's Display -->
  <div *ngIf="data.type === 'artist'" class="artist-display mb-3 mt-3">
    <img [src]="data.artistImg" [alt]="data.name" class="w-25 h-25"/>
    <div class="artist-detail">
      <h3>{{data.name}}</h3>
      <p>
        This week, {{data.name}} is currently rank {{data.popularity}} on Spotify's popularity chart. Past years, there are {{data.followers}} listeners tune in and follow {{data.name}}. We hope you find these information useful.
      </p>
      <div>
        <a
        [href]="data.artistProfile"
        type="button"
        class="btn btn-primary mr-2 mb-3"
        target="blank"
        >Visit Artist Profile</a
      >
      </div>

      <h5>Artist's Top 10 Tracks</h5>
      <table class="table">
        <tbody>
          <tr *ngFor="let track of tracks; let i = index">
            <th>{{i + 1}}</th>
            <th>
              <a [href]="track.trackURL" target="blank"> {{track.name}}</a>
              <div id="artists-title" [innerHTML]="track.artists"></div>
            </th>
            <th>{{track.duration}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
