.track-display,
.album-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.album-detail,
.track-detail {
  margin-left: 2%;
  width: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
}
