<h3>My Top 10 Tracks</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Track Name</th>
      <th scope="col">Artist(s)</th>
      <th scope="col">Album</th>
    </tr>
  </thead>

  <!-- **** Wait for tracks to load **** -->
  <tbody *ngIf="!tracks">
    <tr style="color: white; font-size: larger;">
      Loading...
    </tr>
  </tbody>
  <!-- ********************************* -->

  <tbody *ngFor="let track of tracks; let i = index">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <a [href]="track.trackURL" target="blank">
          {{ track.name }}
        </a>
      </td>
      <td>
        <div *ngFor="let artist of track.artists">
          <a [href]="artist.external_urls.spotify" target="blank">{{
            artist.name
          }}</a>
        </div>
      </td>
      <td>
        <a [href]="track.album.external_urls.spotify" target="blank">{{
          track.album.name
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
