thead,
tbody {
  border-style: hidden;
}

a:hover{
  color: white;
}

a {
  color: black;
}

.table{
  height: 600px;
  display: -webkit-box;
  overflow: auto;
  overflow-x: auto;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: darkgray;
}
