<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navItem">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/henrykhoanguyen/SpotifyBrowser" target="blank">Github <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/khoathanhanhnguyen/" target="blank">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>
