<div class="container">
  <div class="m-3 text-center">
    <a
    type="button"
    class="btn btn-primary mr-3"
    [ngClass]="{ active: isPolicy }"
    (click)="isPolicy = true; isTerm = false"
    >Privacy Policy</a
  >

  <a
    type="button"
    class="btn btn-primary"
    [ngClass]="{ active: isTerm }"
    (click)="isPolicy = false; isTerm = true"
    >Term of Use</a
  >
  </div>

  <app-privacy-policy *ngIf="isPolicy" class="text-dark"></app-privacy-policy>
  <app-term-of-use *ngIf="isTerm" class="text-dark"></app-term-of-use>
</div>
