<div
  *ngIf="artists"
  id="{{ carouselId }}"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
<h3>My Top Artists</h3>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let artist of artists; let first = first"
      [ngClass]="{ active: first }"
    >
      <a [href]="artist.artistProfile" target="blank">
        <img
          [src]="artist.artistImg"
          class="d-block w-100"
          [alt]="artist.name"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 style='text-shadow: 2px 2px 5px black'>{{ artist.name }}</h5>
        </div>
      </a>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#{{ carouselId }}"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#{{ carouselId }}"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
