.profile-img {
  width: 40%;
  border-radius: 50%;
  float: center;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dashboard-box{
  display: flex;
  flex-direction: row;
  position: relative;
}

.artists-box{
  width: 50%;
  margin-right: 2em;
}

.tracks-box{
  width: 100%;
}

.tracks-box a {
  color: white;
}
