.profile-img {
  width: 10%;
  border-radius: 50%;
  float: center;
  margin-bottom: 1em;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 2em;
}

.dashboard-box{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 2% 3% 2%;
}

hr {
  margin: 4% 0 4% 0;
  border-color: white;
  border-style: double;
}

.artists-box{
  width: 50%;
  margin-right: 2em;
}

.tracks-box{
  width: 100%;
}

.playlists-box {
  margin-bottom: 5%;
}

.playlists-box h3{
  text-align: center;
}

.playlist-cards{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
