<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- if not logged in, direct to landing page -->
  <!-- if logged in, direct to main page -->
  <a class="navbar-brand logo" *ngIf="!isLoggedIn" routerLink="">SpotBrowser</a>
  <a class="navbar-brand logo" *ngIf="isLoggedIn" routerLink="me"
    >SpotBrowser</a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navItem justify-content-end">
      <li class="nav-item" *ngFor="let link of links">
        <a
          class="nav-link"
          *ngIf="link.linkName === 'Login'"
          [href]="link.path"
          >{{ link.linkName }}</a
        >
        <a
          class="nav-link"
          *ngIf="link.linkName !== 'Login'"
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ link.linkName }}</a
        >
      </li>
      <form
        class="form-inline my-2 my-lg-0 ml-2 mr-3 w-50 justify-content-end"
        *ngIf="isLoggedIn"
      >
        <input
          class="form-control w-100"
          type="text"
          placeholder="Search . . ."
          aria-label="Search"
          [value]="query"
          (keyup)="search($event)"
        />
        <!-- *ngIf="results" -->
        <table *ngIf="results" class="table">
          <tbody class="autocomplete-item">
            <tr>
              <h5 style="margin: auto; margin-top:.5em; margin-bottom: .5em;">Artists</h5>
              <td *ngFor="let artist of results.searchArtists">
                <a [href]="artist.artistProfile" target="blank">{{artist.name}}</a>
              </td>

              <h5 style="margin: auto; margin-top:.5em; margin-bottom: .5em;" >Tracks</h5>
              <td *ngFor="let track of results.searchTracks">
                <a [href]="track.trackURL" target="blank">{{track.name}}</a>
              </td>

              <h5 style="margin: auto; margin-top:.5em; margin-bottom: .5em;">Albums</h5>
              <td *ngFor="let album of results.searchAlbums">
                <a [href]="album.albumURL" target="blank">{{album.name}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="btn btn-outline-dark"
          routerLink="logout"
          (click)="logout()"
          type="button"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
