.card{
  height: 100%;
  background-color: transparent;
}

.card-body {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  color: black;
}

.card-text {
  height: 100%;
  overflow: auto;
}

.card-img-top {
  height: 50%;
}
